*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0000;
    /* max-width: 1000px; */
    margin: auto;
}

.column{
    display: flex;
    flex-direction: column;
    gap:20px; 

}

input{
    width: 100%;
}

/* seccion agregar del  producto */

.flex-row{
    display: flex;
    gap: 5px;
    
}
.btns_producto{
    display: flex;
    justify-content: center;
    align-items: end;
}

.btn_eliminar,.btn_agregar{
    /* aspect-ratio: 1/1; */
    
}


main{
    margin: 50px 0px 0px 0px;
    
}



.grid-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap:20px;
}
.flex-data-producto,.flex-data-comprobante{
    display: flex;
    flex-direction: column;
    gap:20px;
}
/* la navegacion */

.nav{
    display: flex;
    justify-content: end;
    gap:20px;
}
.nav .btn{
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}



/* la tabla  */
.table-product{
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

table tbody input{
   width: 100%;
   height: 100%;
   border: none;
}

table tbody input:focus{
    outline: none;
}
